body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f0ece2;
    margin-top: 20px;
}

.container {
    width: 2000px;
    text-align: center;
    margin: 0px auto;
}

#header{
    text-align: center;
    justify-content: center;
    height: 100px;
}

.clearfloat {
    clear: both;
}

#footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#6cf;
    margin-bottom: 20px;
}

/* Misael's CSS */
img {
    width: 250px;
    height: auto;
    margin: 5px;
}

.row1 {
    display: flex;
    justify-content: center;
}

.row2 {
    display: flex;
    justify-content: center;
}

.mb-h4 {
    text-align: center;
}